@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor0: #EBE5C5;
    --cor1: #B3E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
}

body {
    background-color: var(--cor0);
    
}

header {
    width: 100%;
    min-height: 150px;
    padding-top: 35px;
    background-image: linear-gradient(to top, var(--cor4), var(--cor3), var(--cor2));
     
}

header > h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 2.2em;
    text-shadow: 2px 1px 1px #063d1ec2;
}

header > p {
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 0.7em;
}

nav.menu  {
    padding: 10px;
    background-color: var(--cor4);
    box-shadow: 1px 7px 7px #46443ad7;
}
nav.menu a {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--cor2);
    transition-duration: 0.4s;
}

nav.menu a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
   
}

.menu-mobile {
    display: none;
}

main {
    min-width: 320px;
    max-width: 1050px;
    margin: auto;
    padding: 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: justify;
}

p {
    line-height: 2.1em;
    font-size: 1.1em;
    text-indent: 1.2em;
}

.principal h1 {
    color: var(--cor2);
    
}

.principal h2 {
    color: var(--cor3);
}

.principal h1, .principal h2 {
    padding: 15px;
    font-family: 'Android', cursive;
}

.dandroid {
    width: 100%;
}

.bugdroid   {
    display: flex;
    margin: auto;
    
}

.ilustradora {
    width: 100%;
}

.vid-droid {
    margin: 30px -15px 30px -15px;
    padding: 20px;
    display: flex;
    background-color: var(--cor5);
    box-shadow: inset 3px 4px 25px 2px #000;
    
}

iframe {
    
    margin: auto;
}

aside {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--cor2);
    border-radius: 0px 10px 10px 10px;
}

aside h3 {
    margin: -10px -10px 0px -10px;
    padding: 5px 0px 5px 15px;
    background-color: var(--cor4);
    border-radius: 0px 10px 0px 0px;
    color: #fff;
}

ul {
    margin: 15px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

ul li {
    font-weight: bold;
    color: var(--cor5);
}

ul li:hover {
    color: #000;
}

abbr {
    text-decoration: underline;
}

main.principal a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
}

main.principal a:hover {
    color: var(--cor3);
}

footer {
    background-color: #000;
    font-size: 0.8em;
    color: #fff;
    text-align: center;
}

/* Ajustes para mobile */

@media only screen and (max-width: 560px) {
    header > h1 {
        font-size: 1.8em;
    }
    .principal h1, .principal h2 {
        font-size: 1.3em;
    }
    p {
        font-size: .9em;
    }
}

@media only screen and (max-width: 480px) {
    header > h1 {
        font-size: 1.5em;
    }
    .principal h1, .principal h2 {
        font-size: 1em;
    }
    p {
        font-size: .8em;
    }
}
}