@charset "UTF-8";

/* Smartphones com telas de ate 580px*/
@media screen and (max-width: 580px) {
    html, body {
      overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    h1 {
        font-size: 1.9em;
    }
    
    form input {
        width: 380px;
        font-size: 1.2em;
        color: #fff;
    }

    form input[type="submit"] {
        height: 65px;   
    }
}