@charset "UTF-8";

/* Smartphones com telas de ate 580px*/
@media screen and (max-width: 580px) {
    body {
      
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    h1 {
        font-size: 1.9em;
    }
    
    form input {
        width: 380px;
        padding: 8px;
        padding-left: 14px;

        background-color: transparent;
        font-size: 1.2em;
        color: #fff;
        
    }

    form input[type="submit"] {
        height: 65px;
        background-image: linear-gradient(to right  #A84FFF, #5A71E3);
        
    }
}