@charset "UTDF-8";
/*Fonte Poppins*/
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,300;0,400;0,500;1,600 & display=swap');
/*Configurações gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #2A2B4A;
    --cor00: #A84FFF;
    --cor01: #5A71E3;
    --cor02: #7A7B8F;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 600px;
    margin: auto;
    
    padding: 15px;
}

h1 {
    padding: 15px 0 15px 0;
    color: #fff;
}

div.alternative {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    min-height: 50px;
    margin: 30px 0 30px 0;
}

div.alternative button {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 160px;
    height: 45px;
    padding: 12px;

    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
}

.alternative a {
    text-decoration: none;
}

button#facebook-color {
    background-color: var(--cor01);
 }
 button#google-color {
    background-color: var(--cor00);
 }

 form {
    display: flex;
    flex-direction: column;
    width: 100%;
 }

 form > input {
    height: 55px;
    margin-bottom: 28px;
    padding: 5px 12px 5px 12px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
 }

 form input[type="submit"] {
    background-image: linear-gradient(to right, var(--cor00) 20%, var(--cor01));
    border: none;
    cursor: pointer;
 }

 ::placeholder {
    color: #fff;
 }