@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {

}

header {
    min-height: 300px;
    padding: 20 0;
    justify-content: center;
    align-items: center;
    
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: auto;
    padding: 2%;
    align-items: center;
}

.logo {
    width: 60%;
}

.header-title {
    display: none;
}

.navegacao a {
    text-decoration: none;
    color: #000;
    margin-left: 40px;
    font-weight: 600;
    font-size: 0.9em;
    
}

.navegacao a:hover {
    margin-bottom: 1px;
    border-bottom: 2px solid #000;

}
.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -285px;
    right: -375px;
    width: 840px;
    height: 820px;
    background-color: #017143;
    border-radius: 50%;
    box-shadow: inset 0px 0px 22px #013821e0;
}

.extra-img {
   width: 30%;
   position: relative;
   right: -40px;
   bottom: 14px;
   
}

.social-midia {
    position: absolute;
    right: 360px;
    top: 85px;


}

.social-midia img {
    width: 40%;
    display: block;
    margin: 25px 0px;
    
}

.texto-sobre {
    margin-top: 20px;
}

.texto-sobre h1 {
    font-size: 2.8em;
}

.texto-sobre p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.9em;
}

.styletxt {
    color: #017143;
}

.coffees {
    position: absolute;
    right: 310px;
    bottom: 10px;
}

.coffees img {
    width: 18%;
    padding: 0px 10px;
}

.saber-mais {
    background-color: #017143;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
}

.saber-mais:hover {
    background-color: #025f38;
    transition: all 0.6s;
}

