@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
   /* --cor0:#F2DCE0;
   --cor1:#F279B2;
   --cor2:#F2994B;
   --cor3:#BF7154;
   --cor4:#A63737; */

   --cor0:#E14F91;
   --cor1:#DB0B68;
   --cor2:#A80850;
   --cor3:#5C203B;
   --cor4:#5C052C;

}

body {
}

div.top-bar {
    width: 100%;
    height: 40px;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor4);
}

div.top-bar a {
    color: var(--cor4);
}

header {
    width: 100%;
    min-height: 120px;
    display: flex;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.288);
}

div.logo {
    width: 180px;
    height: 73px;
    margin: 25px 20px 5px 30px;
    display: flex;
    
}

div.logo img {
    width: 40%;

}

nav.naveg {
    margin-top: 28px;
    display: flex;
    align-items: center; 
}

nav.naveg a {
    margin: 10px;
    padding: 5px;
    color: var(--cor0);
    text-decoration: none;
}

nav.naveg a:hover {
    border-radius: 5px;
    color: var(--cor1);

}

.banner {
    width: 100%;
    min-height: 500px;
    background-image: url('../imagens/banne1r.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div.text {
    text-align: center;
    position: absolute;
    right: 80px;
    top: 160px;
}

div.text p {
    width: 450px;

    font-family: 'Dancing Script', cursive; 
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cor4);
}

.banner button {
    margin-top: 35px;
    padding: 6px;
    background-color: var(--cor4);
    border-radius: 20px;
    border: none;
    font-size: .8rem;
}

.banner button:hover {
    background-color: var(--cor);
}

section.conteiner-menu {
    width: 100%;
    padding: 20px;
    display: flex;

}

div.btn-menu {
    width: 260px;
    height: 230px;
    margin: auto;
    padding: 8px;
    background-color: var(--cor0);

    text-align: center;
    color:var(--cor4);
}

.btn-menu button {
    padding: 6px;
    background-color: var(--cor4);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

section.list-sabores {
    width: 100vw;
    padding: 15px;
    background-color: var(--cor0);
    color: var(--cor4);
}

div.title-list {
    padding: 25px;
    text-align: center;
   
}
div.title-list h3 {
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

div.title-list p {
    margin-top: 6px;
    font-size: .7em;
}

.container-list {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    list-style-position: outside;
    display: flex;
}

.container-list h3 {
    margin-bottom: 15px;
    text-align: center;

}

div.massas {
    width: 20%;
    margin-left: 20px;
}

div.recheios {
    width: 75%;
    margin-left: 40px;
} 

div.recheios ul {
    columns: 3;

}

footer {
    width: 100%;
    background-color: var(--cor2);
}

footer > ul {
    margin: 10px;
    list-style: none;
    columns: 2;
}

div.footer-bar {
    background-color: var(--cor2);
}