@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    min-height: 150px;

    background-color: #000;
    text-align: center; 
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

header > h1 {
    font-family:'Passion One', cursive;
    font-size: 3.5rem;
    font-variant: small-caps;
}

header a, footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition-duration: 0.3s;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: #ffffffe0;
}

section {
    min-height: 450px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

    font-family: 'Sriracha', cursive;
    font-size: 1.3rem;
    line-height: 2.4rem;
}

section > p {
    padding-bottom: 2em;

}

section.normal {
    background-color: #fff;
}

section.imagem {
    background-color: rgb(48, 47, 47);
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    width: 400px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.384);
    display: inline-block;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer {
    width: 100%;

    padding: 10px;
    background-color: #000;
    text-align: center;
    color: #fff;
}